Introduction to Deep Learning & Neural Networks with Keras - Final Peer Graded Assignment.

A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the 
train_test_split
helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [2]:
# Import libraries
import keras
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import warnings
warnings.simplefilter('ignore', FutureWarning)

In [3]:
# Download data and read is as a pandas dataframe
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
# How many observations?
concrete_data.shape

(1030, 9)

In [5]:
# Do all the values make sense? 
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
# Are there any missing values? -> NO
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
#Split data into predictors and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
# What is the number of predictors? 
# We will use it in the regression model as input_shape
predictors.shape[1] # number of predictors

8

In [51]:
# Define the regression model.
# One hidden layer of 10 nodes, and a ReLU activation function.
# Use the adam optimizer and the mean squared error as the loss function.
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(8,)))
    model.add(Dense(1))
    
    # Compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [52]:
def train_model(predictors, target):
    # Split the data into training and testing set. Hold 30% of the data for testing.
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    
    # Fit the model.
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Make predictions based on the model and the test data.
    predictions = model.predict(X_test)
    
    # Calculate the mean squared error.
    return mean_squared_error(y_test, predictions)

In [53]:
# Create a list of 50 mean squared errors.
# Report the mean and the standard deviation of the mean squared errors.

mean_squared_errors = []
for i in range(0, 50):
    # Build the model.
    model = regression_model()
    # Train the model.
    mean_squared_errors.append(train_model(predictors, target))
    
print("Mean of the mean squared errors: %.2f" % np.mean(mean_squared_errors))
print("Standard deviation: %.2f" % np.std(mean_squared_errors))

Mean of the mean squared errors: 415.17
Standard deviation: 579.55

.

B. Normalize the data (5 marks) 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [9]:
# Normalize the data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
# What is the number of predictors? 
# We will use it in the regression model as input_shape
predictors_norm.shape[1] # number of predictors

8

In [56]:
# Create a list of 50 mean squared errors.
# Report the mean and the standard deviation of the mean squared errors.

mean_squared_errors = []
for i in range(0, 50):
    # Build the model.
    model = regression_model()
    # Train the model.
    mean_squared_errors.append(train_model(predictors_norm, target))
    
print("Mean of the mean squared errors: %.2f" % np.mean(mean_squared_errors))
print("Standard deviation: %.2f" % np.std(mean_squared_errors))

Mean of the mean squared errors: 384.99
Standard deviation: 121.34

How does the mean of the mean squared errors compare to that from Step A?

The mean of the mean squared errors is lower in step B than step A. The standard deviation is also much lower.

.

C. Increate the number of epochs (5 marks)

Repeat Part B but use 100 epochs this time for training.

In [57]:
def train_model(predictors, target):
    # Split the data into training and testing set. Hold 30% of the data for testing.
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    
    # Fit the model.
    model.fit(X_train, y_train, epochs=100, verbose=0)
    
    # Make predictions based on the model and the test data.
    predictions = model.predict(X_test)
    
    # Calculate the mean squared error.
    return mean_squared_error(y_test, predictions)

In [58]:
# Create a list of 50 mean squared errors.
# Report the mean and the standard deviation of the mean squared errors.

mean_squared_errors = []
for i in range(0, 50):
    # Build the model.
    model = regression_model()
    # Train the model.
    mean_squared_errors.append(train_model(predictors_norm, target))
    
print("Mean of the mean squared errors: %.2f" % np.mean(mean_squared_errors))
print("Standard deviation: %.2f" % np.std(mean_squared_errors))

Mean of the mean squared errors: 168.39
Standard deviation: 24.23

How does the mean of the mean squared errors compare to that from Step B?

The mean of the mean squared errors in step C is lower compared to Step B. The standard deviation is also lower.

.

D. Increase the number of hidden layers (5 marks)

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

In [11]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(8,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # Compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
def train_model(predictors, target):
    # Split the data into training and testing set. Hold 30% of the data for testing.
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    
    # Fit the model.
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Make predictions based on the model and the test data.
    predictions = model.predict(X_test)
    
    # Calculate the mean squared error.
    return mean_squared_error(y_test, predictions)

In [13]:
# Create a list of 50 mean squared errors.
# Report the mean and the standard deviation of the mean squared errors.

mean_squared_errors = []
for i in range(0, 50):
    # Build the model.
    model = regression_model()
    # Train the model.
    mean_squared_errors.append(train_model(predictors_norm, target))
    
print("Mean of the mean squared errors: %.2f" % np.mean(mean_squared_errors))
print("Standard deviation: %.2f" % np.std(mean_squared_errors))

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

2024-10-16 19:59:20.043116: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-10-16 19:59:20.053841: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394305000 Hz
2024-10-16 19:59:20.054611: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55c23a86a750 executing computations on platform Host. Devices:
2024-10-16 19:59:20.054697: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-10-16 19:59:20.195579: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

Mean of the mean squared errors: 129.66
Standard deviation: 16.27

How does the mean of the mean squared errors compare to that from Step B?

The mean of the mean squared errors in step D is lower compared to Step B. The standard deviation is also lower.

.